@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700);

body {
	font-family: "Roboto", 'Droid Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.625;
  color: #555;
  margin:5px;
}

#calendar_wrap table tbody tr td, #calendar_wrap caption{
  color: fade(#fff, 30%);
}

a {
  color: #428bca;
  text-decoration: none;
  outline: 0!important;
}

a:hover,
a:focus {
  color: #2a6496;
}

p {
  margin: 0 0 13px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab";
  font-weight: 500;
  line-height: 1.2;
}

h1, h2, h3 {
  margin-top: 26px;
  margin-bottom: 13px;
}

h4, h5, h6 {
  margin-top: 13px;
  margin-bottom: 13px;
}

h1 { font-size: 36px; }

h2 { font-size: 30px; }

h3 { font-size: 24px; }

h4 { font-size: 18px; }

h5 { font-size: 16px; }

h6 { font-size: 14px; }

blockquote {
  padding: 0 20px;
  font-size: 16px;
  color: #999;
  margin: 0 0 26px;
  border-left: 5px solid #eee;
}

.wp-caption {
  background: none;
  border-radius: 0;
}

.wp-caption-dd {
  padding: 5px 0;
  font-size: 12px;
}

#map{
  display: block;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #ccc;
  box-shadow: 0px 5px 20px #ccc;
}

#map img {
  max-width: none;
  min-height: none;
  max-height: none;
}

#map.large{
  height:500px;
}

.overlay{
  display:block;
  text-align:center;
  color:#fff;
  font-size:60px;
  line-height:80px;
  opacity:0.8;
  background:#4477aa;
  border:solid 3px #336699;
  border-radius:4px;
  box-shadow:2px 2px 10px #333;
  text-shadow:1px 1px 1px #666;
  padding:0 4px;
}

.overlay_arrow{
  left:50%;
  margin-left:-16px;
  width:0;
  height:0;
  position:absolute;
}
.overlay_arrow.above{
  bottom:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-top:16px solid #336699;
}
.overlay_arrow.below{
  top:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-bottom:16px solid #336699;
}